body {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.main-container {
    background: url(../images/main_body.jpg) no-repeat center;
    height: 900px;
}


.navbar-brand {
    border: 1px solid #333333;
    height: 43px;
    width: 43px;
    justify-content: center;
    align-items: center;
}

.navbar-brand:hover {
    opacity: .6;
}

.navbar-body {
    background: #DADEDF !important;
}

.hot {
    width: 31px;
    margin-bottom: 2px;
}

.lot {
    width: 31px;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0;
}

.dropdown-toggle::after {
    display: none;
  }
  
.dropdown {
    margin-left: 24px;
}

.nav-item a {
   color: rgb(51, 51, 51, 1) !important;
   opacity: 1;
}

.nav-item:hover a{
    opacity: .6;
}

.nav-log-in {
    padding-right: 12px;
}

.title-main-page {
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    margin-top: 115px;
}

.title-form-main {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-top: 35px;
    border-bottom: 1px solid #CED4DA;
    padding-bottom: 17px;
}

.wrape-all-form {
    background: rgba(255, 255, 255, 0.9);
    /* opacity: 0.9; */
    max-width: 537px;
    margin-top: 30px;
    padding-left: 48px;
    padding-right: 48px;
}

.main-form-control {
    margin-top: 17px;
}

.main-form-control::placeholder {
    opacity: 1;
    color: #333333;
}
.form-check-label {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    top: 5px;
    position: absolute;
}

.button-main-form {
    margin-top: 65px;
    background: rgba(2, 110, 181, 1);
    border-radius: 4px;
    border: 1px solid rgba(2, 110, 181, 1);
}

.form-check {
    margin-top: -6px;
}

.forgod-pass-form {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #333333;
    margin-bottom: 36px;
    margin-top: 10px;
    text-align: center;
}

footer {
    background: #DADEDF;
    min-height: 55px;
}

.row-footer {
    min-height: 55px;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    padding-left: 23px;
    padding-right: 23px;
}

.right-footer a {
    color: #026EB5;
    padding-right: 35px;
}

@media (max-width: 600px) {
    .right-footer a {
        padding-right: 15px;
    }
    
    .right-footer {
        margin-top: 10px;
    }

    footer {
        min-height: 75px;
    }

    .row-footer {
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .title-main-page {
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        margin-top: 100px;
    }

    .wrape-all-form {
        max-width: 537px;
        margin-top: 30px;
        padding-left: 28px;
        padding-right: 28px;
    }
}

@media (max-width: 360px) {
    .right-footer a{
        padding-right: 7px;
    }
}

@media (max-width: 992px){
    .dropdown {
        margin-left: 0;
    }
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    background-color: #dee2e2;
    min-width: 40px;
}

.nav-item-help-catalog {
    margin-right: -11px;
}

.nav-item-notisce {
    margin-right: 6px;
}

.notice-badge {
    background: #F44848;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: 7px;
    left: 17px;
    color: white;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    padding-top: 1px;
}

.catalog-container {
    background: white;
}

h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    padding-left: 16px;
    margin-top: 42px;
}

.caralog-select-sort {
    width: 169px;
}

.beforeSelect {
    position: relative;
    display: inline-block;
    width: 169px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 14px;
}
  
.beforeSelect:after {
    content: "";
    padding: 0 8px;
    font-size: 22px;
    position: absolute;
    right: 10px;
    top: 1px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
    background: url(../images/svg/arrow.svg) no-repeat center;
}

select {
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.button-sort {
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 28px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 28px;
    padding-right: 28px;
    color: #333333;
    margin-bottom: 14px;
    height: 37px;
}

.button-sort-active {
    background: #CED4DA;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 28px;
}

.button-sort-link {
    font-size: 14px;
    line-height: 155.4%;
    color: #CED4DA;
    font-style: normal;
    font-weight: normal;
}

.row-sort {
    margin-top: 22px;
    margin-left: 4px;
}

.row-item-title-block {
    background: #EFEFEF;
    border-radius: 0px;
    min-height: 48px;
    position: relative;
}

.img-play {
    width: 5px;
    height: 6px;
    margin-left: 5px;
}

.play-title-block {
    background: #484848;
    height: 14px;
    width: 14px;
    border-radius: 50%;
}

.text-title-item {
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.new-title-item {
    font-size: 12px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #247E0E;
    position: absolute;
    right: 30px;
    height: 100%;
    padding: 3px;
}

.item-body-title {
    font-size: 20px;
    line-height: 155.4%;
    color: #343A40;
}

.item-body-subtitle {
    font-size: 14px;
    line-height: 155.4%;
    color: #A6A6A6;
    font-style: normal;
    font-weight: 200;
    margin-top: -5px;
}

.item-body-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 155.4%;
    color: #343A40;
    margin-top: 16px;
    margin-right: 50px;
}

.item-body {
    padding-top: 30px;
    padding-left: 36px;
}

.wrap-img-item-body {
    margin-right: -50px;
}

.button-favorite {
    background: url(../images/svg/star.svg) no-repeat 0 9px;
    padding-left: 22px;
    font-size: 14px;
    line-height: 155.4%;
    color: #026EB5;
}

.button-favorite-checked {
    background: url(../images/svg/star_check.svg) no-repeat 0 9px;

}

.button-detail {
    background: #026EB5;
    border-radius: 2px;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    width: 82px;
    height: 39px;
    margin-right: 8px;
}

.time-item {
    background: url(../images/svg/time.svg) no-repeat 6px 6px, #343A40;
    border-radius: 3px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 158.26%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 74px;
    height: 27px;
    padding-left: 27px;
    position: absolute;
    right: -26px;
}

.catalog-body {
    max-height: 720px;
    overflow-y: scroll;
}

.wrape-item-category {
    margin-bottom: 26px;
}

@media(max-width: 1300px) {
    .wrap-img-item-body {
        margin-right: 0;
    }

    .time-item {
        right: 64px;
        top: -10px;
    }

    .wrap-img-item-body img {
        width: 100%;
        padding-bottom: 18px;
    }
}

@media(max-width: 575px) {
    .wrap-img-item-body img {
        padding-right: 34px;
    }

    .time-item {
        right: 49px;
        top: -10px;
    }
}

.catalog-body::-webkit-scrollbar{
    width: 0;
}

.item-breadcrumb a {
    font-size: 14px;
    line-height: 155.4%;
    color: #026EB5;
    position: relative;
    margin-right: 13px;
}

.item-breadcrumb a::after {
    content: '';
    background: url(../images/svg/right_arrow.svg) no-repeat center;
    width: 4px;
    height: 7px;
    position: absolute;
    top: 8px;
    right: -9px;
}

.item-breadcrumb-last a {
    font-size: 14px;
    line-height: 155.4%;
    color: #A6A6A6;
}

.item-breadcrumbs-row {
    margin-right: 15px;
    margin-top: 30px;
}